[Class Link](https://www.youtube.com/watch?v=Ud7zeYNy1Zw)

Programming Language Used for Machine Learning

1. Python (Prefered, Easy to Understand and use, General Purpose Language)
2. R (Statistical Based)

#The Print Function

In [1]:
print("Machine Learning") #The Print Function

Machine Learning

In [2]:
print("Machine Learning "+"Projects") #concatanation

Machine Learning Projects

In [3]:
print(8) #printing integer

8

In [4]:
print(8+154446-55*5/3) # we can also do arithmatic operation inside the print function

154362.33333333334

#Data Types

Basic Data Types

1.   int
2.   float
3.   str

In [5]:
type(8)

int

In [6]:
type(1.2)

float

In [7]:
type("sadman")

str

#Constants and Variables

In [9]:
superhero = "Iron Man" #superhero is the variable(container) "Iron Man is the value"
print(superhero)

Iron Man

In [11]:
hero1,hero2,hero3 = "Iron Man","Captain America", "Spider Man" # We can also assign value like this
print(hero1)
print(hero2)
print(hero3)

Iron Man
Captain America
Spider Man

In [12]:
x = y = z = 32
print(x)
print(y)
print(z)

32
32
32

#The Input Function

In [14]:
num1 : int = int(input("Enter a Number : "))
num2 : int = int(input("Enter a Number : "))
print(num1+num2)

Enter a Number : 23
Enter a Number : 23
46